html {
  font-family: serif sans-serif;
}

body {
  margin: 0;
  background-image: url("https://wallpaperaccess.com/full/887323.jpg");
}

header h1 {
  background-image: url("../imagen/gala.png");
  color: rgb(245, 245, 245);
  border: 4px solid #ccc;
  padding: 4rem 4rem;
  font-size: 5rem;
  text-align: center;
  border-radius: 10rem;
}
.br {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h2 {
  font-size: 2.5rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 2rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  font-size: 1.5rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

h5 {
  font-size: 1rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

body p {
  transition: all 0.3s ease;
  background-color: rgb(255, 255, 255);
  margin: 1rem 0;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

body p:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

footer {
  background-color: #222;
  text-align: center;
  padding: 3rem;
  color: rgb(255, 254, 254);
  border-radius: 10rem;
}

footer p {
  margin: 0;
}

footer a {
  transition: color 0.3s ease;
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: cornflowerblue;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content {
  width: 800px;
  margin: 0 auto;
}

.tab {
  overflow: hidden;
  border: 4px solid #ccc;
  background-color: #b075b6ce;
  width: 800px;
  margin: 0 auto;
  border-radius: 10rem;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(122, 88, 138);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(145, 202, 212);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 0.25rem 0;
  border: 4px solid #ccc;
  background-color: rgba(163, 96, 127, 0.753);
  border-top: none;
  border-radius: 5rem;
  width: 800px;
  margin: 1rem auto;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
